language: go

sudo: true

go:
  - 1.10.x

branches:
  only:
    - master
    - pre-release
    - dev-jxy

before_install:
  - sudo apt-get install -y jq

install:
  - make build
  - sudo cp out/aliyun /usr/local/bin

notifications:
    webhooks: https://oapi.dingtalk.com/robot/send?access_token=096ed387df243a6d60835aadeccc47165f3813bc7cb81cdd0cfeadfd28e3acc1
    email: false
    on_success: change
    on_failure: always

script:
  - cd ./integration && ./test