name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-12, windows-latest]
    runs-on: ${{ matrix.os }}
    environment: CI
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.20"

    - name: Unit Test
      run: make test
    - name: Upload coverage infomartion
      uses: codecov/codecov-action@v3

    - name: Smoking Test
      run: go run ./main/main.go

    - run: |
        make build
        make install
        bash ./integration/vpc_test.sh
        bash ./integration/oss_test.sh
      if: env.ACCESS_KEY_ID != '' && env.ACCESS_KEY_SECRET != '' && matrix.os != 'windows-latest'
      env:
        ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
        ACCESS_KEY_SECRET: ${{ secrets.ACCESS_KEY_SECRET }}
        REGION_ID: ${{ secrets.REGION_ID }}
