name: Installer test

on:
  release:
    types: [published]
  pull_request:
    paths:
      - 'install.sh'

jobs:
  installer:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - run: /bin/bash -c "$(cat install.sh)"
    - run: |
        which aliyun
        echo "local version: $(cat ./version)"
        echo "aliyun version: $(aliyun version)"
